# rnpm
/local-cli/rnpm

# yarn 使用git依赖时不支持 package.json中的files 所以在这里加上
# *
# !/.flowconfig
# !/android
# !/cli.js
# !/flow
# !/init.sh
# !/jest-preset.json
# !/jest
# !/lib
# !/Libraries
# !/LICENSE
# !/local-cli
# !/packager
# !/PATENTS
# !/react.gradle
# !/React.podspec
# !/React
# !/ReactAndroid
# !/ReactCommon
# !/README.md"
/ReactAndroid
