.lrnw-view1 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  flex-shrink: 0; /* 对设置的flex的元素，flex-shrink会被自动覆盖 但如果是单独设置flexGrow则会有问题 TODO*/
}

.lrnw-scroll-view1 {
  overflow-y: auto;
  display: block; /* TODO */
  -webkit-overflow-scrolling: touch;

  /*
  Enable hardware compositing in modern browsers.
  Creates a new layer with its own backing surface that can significantly
  improve scroll performance.
  https://github.com/necolas/react-native-web/blob/master/src/components/ScrollView/index.js
  https://stackoverflow.com/questions/10814178/css-performance-relative-to-translatez0
  http://www.jianshu.com/p/133085f0eb76
  */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.lrnw-scroll-view-h1 {
  overflow-x: auto;
  overflow-y: visible;
}